# =========================
# Python & Core
# =========================
__pycache__/
*.py[cod]
*$py.class
*.so
.python-version

# Virtual environments
venv/
env/
.venv/
ENV/

# =========================
# PyInstaller (Compilación Final)
# =========================
# No queremos subir los ejecutables ni los archivos temporales de construcción
build/
dist/
*.spec
_internal/

# =========================
# IDEs (PyCharm / VS Code)
# =========================
.idea/
.vscode/
*.iml
*.workspace

# =========================
# Selenium & Browser Drivers
# =========================
# Los drivers se descargan por código o van en el ZIP, no en el código fuente
chromedriver.exe
geckodriver.exe
msedgedriver.exe
selenium-profile/
chrome-profile/

# =========================
# Logs & Environment
# =========================
*.log
.env
local_settings.py

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db